mlops-github
mlops-github.pub

# Personal and system files
.ssh/
.conda/
.ipynb_checkpoints/
.ipython/
.jupyter/
.local/
.bash_history
.bash_logout
.bashrc
.profile
.viminfo

# Python cache files
.cache/
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
mlops-env/
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# MLflow
mlruns/
mlflow.db

# Local development settings
.env
.venv

# Large data files
*.parquet
*.csv
